<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>Thomson - Facturacion</title>



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/facturacion-forms.css">
    <link rel="stylesheet" href="/css/select.css" />
    <!-- Favicons -->


    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
</head>

<body>
    
    <main>
        <div class="container-fluid">
            <div class="row mt-4 mb-5">
                <div class="col-sm-4 mr-5">
                    <label for="" class="text-light">Código</label>
                    <select name="Codigo" id="SelectCodigo" class="form-control js-exam">
                        <option value="0">--Seleccione un codigo--</option>
                    </select>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2 mt-3">
                    <button class="btn w-75 btn-success" disabled id="btnBuscar">BUSCAR</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div  hidden id="spinner"></div>
            <form action="/">
                <table id="tabla" class="table table-dark table-striped table-hover table-sm">
                    <thead class="">
                         <tr>
                            <th class="h6 text-center">Codigo T</th>
                            <th class="h6 text-center">Cantidad stock</th>
                            <th class="h6 text-center">Descripción</th>
                            <th class="h6 text-center">Costo Fob</th>
                            <th class="h6 text-center">Costo</th>
                            <th class="h6 text-center">Editar stock</th>
                            <th class="h6 text-center">Historial de movimientos</th>
                            <th class="h6 text-center">Ver ficha completa</th>
                        </tr>
                          <td colspan="18">
                            <input id="buscar" type="text" class="form-control" placeholder="Escriba su busqueda para filtar" />
                        </td>
                    </thead>
                    <tbody id="bodyInsertar">

                    </tbody>
                </table>
        </div>

    </main>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <script>
          //Select
        $(document).ready(function () {
            $(".js-exam").select2();
        });
        const d = document
        const $spinner = d.getElementById("spinner")
        const busqueda = document.getElementById('buscar');
        const table = document.getElementById("tabla").tBodies[0];
        const tBody = d.getElementById("bodyInsertar")
         const $SelectCodigo = d.getElementById("SelectCodigo")
        const $btnBuscar = d.getElementById("btnBuscar")
        $spinner.removeAttribute("hidden")
        fetch("/solicitar-info-stock", {
            method: "POST",
            })
            .then((response) => {
                return response.json();
            })
            .then((respuesta) => {

                let tr = ""
                let option = '<option value="0">--Seleccione un codigo--</option>'
                for(i=0; i< respuesta.length; i++){
                    let opt = `<option value="${respuesta[i].CodigoT}">${respuesta[i].CodigoT}</option>`
                    option += opt
                    let linea = `
                       <tr>
                            <td class="text-center text-light">${respuesta[i].CodigoT} </td>
                            <td class="text-center text-light">${respuesta[i].CantidadTotal} </td>
                            <td class="text-center text-light">${respuesta[i].Descripcion} </td>
                            <td class="text-center text-light">${respuesta[i].CostoFOB} </td>
                            <td class="text-center text-light">${respuesta[i].Costo} </td>
                            <td class="text-center text-light">
                                <a href="/facturacion/stock-edit/${respuesta[i]._id}" target="_blank" class="text-success">Editar</a>
                            </td>
                            <td class="text-center text-light">
                                <a href="/facturacion/stock-historial/${respuesta[i]._id}" target="_blank" class="text-warning">Ver</a>
                            </td>
                            <td class="text-center text-light">
                                <a href="/ver-ficha-producto/${respuesta[i]._id}" target="_blank" class="text-info">Ver</a>
                            </td>
                        </tr>
                    `
                    tr += linea
                }
                tBody.innerHTML = tr
                $SelectCodigo.innerHTML = option
                $spinner.setAttribute("hidden","")
                })

                          
        $SelectCodigo.onchange =() => {
            if($SelectCodigo.value !=0){
                $btnBuscar.removeAttribute("disabled")
            }else{
                $btnBuscar.setAttribute("disabled","")
            }
        }   
        const solicitarinfoPorCodigo = async (data) => {
        return await fetch("/solicitar-info-por-codigo", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
            "Content-type": "application/json; charset=utf-8",
            },
        })
            .then((response) => {
            return response.json();
            })
            .then((respuesta) => {
                let tr = ""
                   for(i=0; i< respuesta.length; i++){
                    let linea = `
                         <tr>
                            <td class="text-center text-light">${respuesta[i].CodigoT} </td>
                            <td class="text-center text-light">${respuesta[i].CantidadTotal} </td>
                            <td class="text-center text-light">${respuesta[i].Descripcion} </td>
                            <td class="text-center text-light">${respuesta[i].CostoFOB} </td>
                            <td class="text-center text-light">${respuesta[i].Costo} </td>
                            <td class="text-center text-light">
                                <a href="/facturacion/stock-edit/${respuesta[i]._id}" target="_blank" class="text-success">Editar</a>
                            </td>
                            <td class="text-center text-light">
                                <a href="/facturacion/stock-historial/${respuesta[i]._id}" target="_blank" class="text-warning">Ver</a>
                            </td>
                            <td class="text-center text-light">
                                <a href="/ver-ficha-producto/${respuesta[i]._id}" target="_blank" class="text-info">Ver</a>
                            </td>
                        </tr>
                    `
                    tr += linea
                }
                tBody.innerHTML = tr
                $spinner.setAttribute("hidden","")
            });
        };


        d.addEventListener("click", e => {
            if(e.target == $btnBuscar){
                let data = {
                    CodigoT : $SelectCodigo.value
                }
                $spinner.removeAttribute("hidden")
                solicitarinfoPorCodigo(data)
            }
        })




        busqueda.addEventListener("keydown", e => {
            if(e.keyCode == 13){
                e.preventDefault()
            }
        })

        buscaTabla = function () {
            texto = busqueda.value.toLowerCase();
            let r = 0;
            while (row = table.rows[r++]) {
                if (row.innerText.toLowerCase().indexOf(texto) !== -1)
                    row.style.display = null;
                else
                    row.style.display = 'none';
            }
            $spinner.setAttribute("hidden","")

        }

        busqueda.addEventListener('keydown',async e=> {
            if(e.keyCode == 13){
                e.preventDefault()
                $spinner.removeAttribute("hidden")
                window.setTimeout(buscaTabla, 1000);
            }
        });

    </script>

</body>

</html>