<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>Thomson - Facturacion</title>



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/facturacion-forms.css" />
    <link rel="stylesheet" href="/css/select.css" />
    <!-- Favicons -->


    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
            <div class="container-fluid">
                <a href="/Facturacion">
                    <img src="/css/assets/logo.png" alt="LOGO" width="150px" height="30px" id="logo" />
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Facturación</a>
                            <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="nav-link" href="/facturacion/nueva-factura">Nueva-factura</a></li>
                                <li class="dropdown-submenu"><a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Facturas</a>
                                    <ul class="dropdown-menu dark2 bg-dark">
                                        <li><a class="nav-link" href="/facturacion/por-cobrar">Por cobrar</a></li>
                                        <li><a class="nav-link" href="/facturacion/cobradas">Cobradas</a></li>
                                        <li><a class="nav-link" href="/facturacion/ventas">Ventas</a></li> <!--Todas -->
                                        <li><a class="nav-link" href="/facturacion/anular-factura">Anular</a></li>
                                        <li><a class="nav-link" href="/facturacion/ordenes-compra">Orden de compra</a></li> <!--Pedidos de los clientes-->
                                        <li><a class="nav-link" href="/facturacion/nueva-cotizacion">Cotización</a></li> 
                                        <li><a class="nav-link" href="/facturacion/ver-cotizaciones">Ver cotizaciones</a></li> 
                                        <li><a class="nav-link" href="/facturacion/libro-contable">Libro contable</a></li> <!--Realizar cotizaciones sin afectar stock-->
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link active dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Cobranza</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class=" dropdown-item text-light" href="/facturacion/cobranza">
                                    <p class="name_product nav-link">Cobranza</p>
                                </a>
                                  <a class=" dropdown-item text-light" href="/facturacion/devolucion">
                                    <p class="name_product nav-link">Realizar Devolución</p>
                                </a>
                                <a class=" dropdown-item text-light" href="/facturacion/todas-devoluciones">
                                    <p class="name_product nav-link">Devoluciones</p>
                                </a>
                                <a class=" dropdown-item text-light" href="/facturacion/todos-recibos">
                                    <p class="name_product nav-link">Recibos de pago</p>
                                </a>
                                <a class=" dropdown-item text-light" href="/facturacion/reporte-cxc">
                                    <p class="name_product nav-link">Reporte de cuentas por cobrar</p>
                                </a>
                                
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Inventario</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class=" dropdown-item text-light" href="/facturacion/registrar-stock">
                                    <p class="name_product nav-link">Crear Artículo</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/stock">
                                    <p class="name_product nav-link">Editar Artículo</p>
                                </a>
                                      <a class=" dropdown-item text-light" href="/facturacion/registrar-garantias">
                                    <p class="name_product nav-link">Registrar garantías</p>
                                </a>
                                    <a class=" dropdown-item text-light" href="/facturacion/ver-garantias">
                                    <p class="name_product nav-link">Ver garantías</p>
                                </a>
                                </a>
                                    <a class=" dropdown-item text-light" href="/facturacion/estado-inventario">
                                    <p class="name_product nav-link">Estado de inventario</p>
                                </a>
                                 <a class=" dropdown-item text-light" href="/facturacion/reporte-ajustes">
                                    <p class="name_product nav-link">Reporte de movimientos</p>
                                </a>
                               <a class=" dropdown-item text-light" href="/facturacion/reporte-de-articulos">
                                    <p class="name_product nav-link">Reporte de articulos</p>
                                </a>
                                  <a class=" dropdown-item text-light" href="/facturacion/cambio-masivo-costo">
                                    <p class="name_product nav-link">Cambio masivo de costos</p>
                                </a>
                                  <a class=" dropdown-item text-light" href="/facturacion/reporte-stock">
                                    <p class="name_product nav-link">Reporte de stock</p>
                                </a>
                                  <li class="dropdown-submenu"><a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Ajuste de inventario</a>
                                    <ul class="dropdown-menu dark2 bg-dark">
                                        <li><a class="nav-link" href="/facturacion/descargar-stock">Descargar</a></li>
                                        <li><a class="nav-link" href="/facturacion/cargar-stock">Cargar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Proveedor</a>
                                <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                    <a class=" dropdown-item text-light" href="/facturacion/crear-proveedor">
                                        <p class="name_product nav-link">Crear</p>
                                    </a>
                                    <a class="dropdown-item text-light" href="/facturacion/editar-proveedor">
                                        <p class="name_product nav-link">Editar</p>
                                    </a>
                                        <a class="dropdown-item text-light" href="/facturacion/realizar-ordenes">
                                        <p class="name_product nav-link">Realizar orden</p>
                                    </a>
                                    <a class="dropdown-item text-light" href="/facturacion/ordenes-proveedor">
                                        <p class="name_product nav-link">Lista de ordenes</p>
                                    </a>
                                    <a class="dropdown-item text-light" href="/facturacion/reporte-de-proveedores">
                                        <p class="name_product nav-link">Reporte de proveedores</p>
                                    </a>
                                </ul>
                            </li>
                        </li>

                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Cliente</a>
                        <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                            <a class=" dropdown-item text-light" href="/facturacion/registrar-cliente">
                                <p class="name_product nav-link">Registrar</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/clientes">
                                <p class="name_product nav-link">Editar</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/aprobar-usuarios">
                                <p class="name_product nav-link">Aprobar o rechazar</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/pausar-activar-cliente">
                                <p class="name_product nav-link">Pausar o activar</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/reporte-cliente">
                                <p class="name_product nav-link">Reportes</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/reportes-precio">
                                <p class="name_product nav-link">Lista de precios</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/solicitudes-recuperacion-contrasena">
                                <p class="name_product nav-link">Solicitudes de recuperación</p>
                            </a>
                        </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Vendedor</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class=" dropdown-item text-light" href="/facturacion/registrar-vendedor">
                                    <p class="name_product nav-link">Registrar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/vendedores">
                                    <p class="name_product nav-link">Editar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/reporte-vendedores">
                                    <p class="name_product nav-link">Reportes</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/pausar-activar-vendedor">
                                    <p class="name_product nav-link">Pausar o activar</p>
                                </a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Transporte</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                               <a class=" dropdown-item text-light" href="/facturacion/registrar-transporte">
                                    <p class="name_product nav-link">Registrar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/transportes">
                                    <p class="name_product nav-link">Editar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/activar-inactivar-transporte">
                                    <p class="name_product nav-link">Pausar o activar</p>
                                </a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Registrar perfil</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class=" dropdown-item text-light" href="/facturacion/registrar-usuario">
                                    <p class="name_product nav-link">Registrar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/usuarios">
                                    <p class="name_product nav-link">Editar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/pausar-activar-usuario">
                                    <p class="name_product nav-link">Pausar o activar</p>
                                </a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Comisión</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-light" href="/facturacion/comision/por-cancelar">
                                    <p class="name_product nav-link">Por cancelar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/comision/canceladas">
                                    <p class="name_product nav-link">Canceladas</p>
                                </a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Administración</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-light" href="/facturacion/administracion">
                                    <p class="name_product nav-link">Libro de entradas y salidas</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/cuentas-por-pagar">
                                    <p class="name_product nav-link">Cuentas por pagar</p>
                                </a>
                            </ul>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/facturacion/agenda">Agenda</a>
                        </li>
                        
                         <li class="nav-item">
                            <a class="nav-link" href="/facturacion/dashboard">Dashboard</a>
                        </li>

                    </ul>
                       <ul class="navbar-nav ml-0 mr-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/usuarios/cerrar-sesion">
                                    <button class="btn btn-outline-success" type="button">
                                        Cerrar sesión
                                    </button>
                                </a>
                            </li>
                        </ul>
                </div>
            </div>
        </nav>
    </header>
<main>
    <div class="container-fluid" id="insertarError"></div>

    <div class="container-fluid" >
      <div hidden id="spinner"></div>

{{#each errors}}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{text}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {{/each}}
    {{#each ok}}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{text}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {{/each}}
    {{>errors}}
    {{>success}}
   
    <div class="card mt-3">
        <div class="card-header bg-light" >
            <h5 class="text-center text-dark ">REGISTRAR PAGO</h5>
        </div>
        <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                      <label class="text-dark">CLIENTES:</label>
                        <select  id="Cliente" class="form-control js-exam">
                            <option value="0">--SELECCIONE CLIENTE--</option>
                            {{#each Clientes}}
                            <option value="{{Cliente}}">{{Cliente}}</option>
                            {{/each}}
                        </select>
                  </div>
                  <div class="col-sm-3">
                      <label class="text-dark">FACTURAS PENDIENTES:</label>
                        <select name="Factura" id="Factura" class="form-control js-exam">
                        </select>
                  </div>
                  <div class="col-sm-3">
                      <label class="text-dark">MODALIDAD:</label>
                      <select name="Modalidad" id="Modalidad" class="form-control js-exam">
                        <option value="0">--SELECCIONE MODALIDAD--</option>
                        <option value="ZELLE">ZELLE</option>
                        <option value="EFECTIVO">EFECTIVO</option>
                        <option value="TRANSFERENCIA BS">TRANSFERENCIA BS</option>
                      </select>
                  </div>
                  <div class="col-sm-3">
                      <label class="text-dark">Numero referencia: <span class="text-muted">(Opcional)</span>:</label>
                      <input type="text" class="form-control"  id="Referencia" name="Referencia" placeholder="Introduzca número de referencia">

                  </div>
                  <div class="col-sm-3">
                      <label class="text-dark">PENDIENTE A PAGAR:</label>
                     <input type="number" readonly step="any" min="0" id="PendienteAPagar" class="form-control" style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);"> 
                  </div>
                  <div class="col-sm-3">
                      <label class="text-dark">PAGO:</label>
                        <input type="number" class="form-control" step="any" min="0" id="Pagar" name="Pago" placeholder="Introduzca monto a cobrar">
                  </div>
                  <div class="col-sm-3">
                      <label class="text-dark">COMENTARIO: <span class="text-muted">(Opcional)</span> </label>
                      <input type="text" class="form-control" id="Comentario2"  name="Comentario2" placeholder="Introduzca un comentario">
                  </div>
                  <div class="col-sm-3 mt-3">   
                      <button class="btn btn-warning mt-2 w-100 mt-1">AGREGAR A LISTA</button>
                  </div>
                </div>
        </div>
    </div>
          <div class="table-responsive mt-2">
            <table class="table table-dark table-striped table-hover table-sm">
                <thead class="">
                    <tr>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">Factura</th>
                        <th class="text-center">Modalidad</th>
                        <th class="text-center">Pendiente</th>
                        <th class="text-center">Monto</th>
                        <th class="text-center">Restante</th>
                        <th class="text-center">Comentario</th>
                        <th class="text-center">Nota</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </thead>
                <tbody id="bodyTabla">
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-danger text-end">Total:</td>
                        <td class="text-light text-center" id="total"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="text-end">
            <button class="btn btn-warning" id="btnRegistrarPago">Registrar pago</button>
        </div>
</div>
</main>
    <script src="/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!--<script src="/js/facturacion/cobranza.js"></script>-->


<footer class="footer fixed-bottom" style="background-color: rgba(41, 41, 41, 0.99);">
    <div class="container-fluid text-center mt-2">
        <span class="text-muted">SISTEMA ADMINISTRATIVO THOMSON</span>
    </div>
</footer>
<script>
        const d = document
        const $facturas = d.getElementById("Factura")
        const $Referencia = d.getElementById("Referencia")
        const $Cliente = d.getElementById("Cliente")
        const $PendienteAPagar = d.getElementById("PendienteAPagar")
        const $Pagar = d.getElementById("Pagar")
        const $Modalidad = d.getElementById("Modalidad")
        const $bodyTabla = d.getElementById("bodyTabla")
        const $Comentario2 = d.getElementById("Comentario2")
        const $btnRegistrarPago = d.getElementById("btnRegistrarPago")
        const $insertarError = d.getElementById("insertarError")
        const $spinner = d.getElementById("spinner")
        const $total = d.getElementById("total")
        let total = 0
        let NotaEntrega
        let facturas = []

        const solicitarInfoFactura = async (data) => {
            return await fetch("/solicitar-info-factura-registrar-pago", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-type": "application/json; charset=utf-8",
            },
            })
            .then((response) => {
                return response.json();
            })
            .then((response) => {
                $PendienteAPagar.value = response

            })
        }
        const enviarInfomracionDeFacturas = async (data) => {
            return await fetch("/registrar-pago-factura", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-type": "application/json; charset=utf-8",
            },
            })
            .then((response) => {
                return response.json();
            })
            .then((response) => {
                if(response.Status == "Error"){
                    $spinner.setAttribute("hidden","")
                    $insertarError.innerHTML += `
                         <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            El número de transacción ya se encuentra registrado con la nota de pago #${response.Recibo}. Por favor, valide e intente de nuevo.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    `

                }else{
                    window.open(`/ver-recibo-pago/${response.Recibo}`, `Recibo ${response.Recibo}`, "width=750,height=500");
                    location.reload()
                }
            })
        }

        const solicitarInfoCliente = async (data) => {
            return await fetch("/solicitar-info-cliente-registrar-pago", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-type": "application/json; charset=utf-8",
            },
            })
            .then((response) => {
                return response.json();
            })
            .then((response) => {
                $facturas.innerHTML = `<option value="0">--SELECCIONE FACTURA--</option>`
                for(i=0; i < response.length; i++){
                let option = `<option value="${response[i].Numero}">${response[i].Numero}</option>`
                $facturas.innerHTML += option
                }

            })
        }
        $Cliente.onchange = () => {
        $PendienteAPagar.value = 0
            if($Cliente.value != 0){
                let data = {
                    Cliente : $Cliente.value
                }

                solicitarInfoCliente(data)
            }
        }
        $facturas.onchange = () => {
        $PendienteAPagar.value = 0
            if( $facturas.value != 0){
                let data = {
                    Numero :  $facturas.value
                }
                
                solicitarInfoFactura(data)
            }
        }

        document.addEventListener("keydown", e => {
            if(e.keyCode == 120 ){
                window.open('/facturacion/acceso-directo-stock', 'Stock', "width=1400, heigh=100%")
            }
        })
        $(document).ready(function () {
            $(".js-exam").select2();
        });

        d.addEventListener("click", e=> {
            if(e.target.textContent == "AGREGAR A LISTA"){
                if( $facturas.value != 0 && $Cliente.value != 0 && $PendienteAPagar.value != 0 && $Pagar.value != 0 && $Modalidad.value != 0 ){
                    let restante = (+$PendienteAPagar.value - +$Pagar.value).toFixed(2)
                    if( +restante < 0){
                        alert("El  monto a pagar no puede ser mayor al monto pendiente")
                    }else{

                    let validacion = facturas.find((data) => data == $facturas.value)
                    if(validacion){
                        alert("La factura ya se encuentra agregada")
                        
                    }else{  
                        let nota 
                        if(+restante == 0){
                            nota = `PAGO COMPLETO DE NOTA DE ENTREGA ${$facturas.value}`
                        }else{
                            nota = `ABONO A LA NOTA DE ENTREGA ${$facturas.value}`
                        }
                        NotaEntrega = $facturas.value   
                        facturas.push(NotaEntrega)
                        $Cliente.setAttribute("disabled","")
                        $Comentario2.setAttribute("readonly","")
                        total = (+total + +$Pagar.value)
                        $total.textContent = total
                        let tr = ` 
                            <tr>
                                <td class="text-center">${$Cliente.value}</td>
                                <td class="text-center">${NotaEntrega}</td>
                                <td class="text-center">${$Modalidad.value}</td>
                                <td class="text-center">${$PendienteAPagar.value}</td>
                                <td class="text-center">${$Pagar.value}</td>
                                <td class="text-center">${restante}</td>
                                <td class="text-center">${$Comentario2.value}</td>
                                <td class="text-center">${nota}</td>
                                <td class="text-center"> <button class="btn btn-danger">-</button> </td>
                            </tr>
                        `
                        $bodyTabla.innerHTML += tr 
                    }

                    }

                }else{
                    alert("Aja que pasa?")
                }
            }if(e.target.textContent == "-"){
                let fila = e.target.parentElement.parentElement
                let montoRestar = fila.children[4].textContent
                total = (+total - +montoRestar).toFixed(2)
                $total.textContent = total
                facturas = facturas.filter((data) => data != fila.children[1].textContent) 
                $bodyTabla.removeChild(fila)
            }
            if(e.target == $btnRegistrarPago){
                let tbody = $bodyTabla.children
                if(tbody.length == 0){
                    alert("Debe agregar facturas para poder registrar el pago")
                }else{
                    let facturas = []
                    for(i=0; i< tbody.length; i++){
                        let factura = {
                            Factura: tbody[i].children[1].textContent,
                            Modalidad: tbody[i].children[2].textContent,
                            Pendiente: tbody[i].children[3].textContent,
                            Monto: tbody[i].children[4].textContent,
                            Restante: tbody[i].children[5].textContent,
                            Nota: tbody[i].children[7].textContent,
                        }
                        facturas.push(factura)
                    }
                    let data= {
                        Cliente: tbody[0].children[0].textContent,
                        Comentario: tbody[0].children[6].textContent,
                        Referencia: $Referencia.value,
                        Facturas: facturas
                    }
                    $spinner.removeAttribute("hidden")
                    enviarInfomracionDeFacturas(data)
                }
            }
        })



</script>
</body>

</html>