<html id="HTML" lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thomson</title>
    <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
    <script src="/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/thomson.css" />
  </head>

  <body class="bg-dark">
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="bg-dark2 border-right border-warning" id="sidebar-wrapper">
        <div class="sidebar-heading text-warning"><img
            src="/css/assets/logo.png"
            width="180px"
            height="30px"
          />
        </div>
        <div class="list-group list-group-flush">
          <a
            class="list-group-item text-warning list-group-item-action bg-dark2"
            href="/realizar-orden"
          >Realizar orden</a>
          <a
            class="list-group-item text-warning list-group-item-action bg-dark2"
            href="/anular-orden"
          >Anular orden</a>
          <a
            class="list-group-item text-warning list-group-item-action bg-dark2"
            href="/consultar-productos"
          >Consulta de productos</a>
          <a
            class="list-group-item text-warning list-group-item-action bg-dark2"
            href="/estado-cuenta"
          >Estado de cuenta</a>
          <a
            class="list-group-item text-warning list-group-item-action bg-dark2"
            href="/informacion-garantias"
          >Información de garantias</a>
          <a
            class="list-group-item text-warning list-group-item-action bg-dark2"
            href="/consultar-ordenes"
          >Consulta de ordenes</a>
          <a
            class="list-group-item text-warning list-group-item-action bg-dark2"
            href="/descargar-lista"
          >Descargar lista</a>
          <a class="list-group-item text-warning noticias-stock list-group-item-action bg-dark2"href="/noticias">Noticias</a>
          <a
            class="list-group-item text-warning list-group-item-action bg-dark2"
            href="/perfil"
          >Pefil</a>
        </div>
      </div>
      <!-- Page Content-->
      <div id="page-content-wrapper bg-dark">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom border-warning">
          <button class="btn btn-warning" id="menu-toggle">Menú</button>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          ><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
             
              <li class="nav-item">
                <a href="/home-client" class="nav-link text-warning">Inicio</a>
              </li>
              
              <li class="nav-item">
                <a
                  class="nav-link btn btn-outline-success text-light"
                  href="/usuarios/cerrar-sesion"
                >Cerrar sesión</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/css/assets/carousel_1.jpg"
                class="carousel_image"
                alt=""
              />
              <div class="container">
                <div class="carousel-caption text-start text-light dark3">
                  <h1 class="title">ORIGINAL THOMSON</h1>
                  <p class="carousel-text content">The original Thomsons will be
                    in charge of giving their best as far as shock absorbers are
                    concerned, allowing them to have total control of the
                    vehicle</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="/css/assets/carousel_2.jpg"
                class="carousel_image"
                alt=""
              />

              <div class="container">
                <div class="carousel-caption text-light dark3">
                  <h1 class="title">PRO-THOMSON</h1>
                  <p class="carousel-text content">Pro-Thomson shocks are
                    designed for heavy and tough work, for conditions that
                    demand the most weight and heavy shocks.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="/css/assets/carousel_4.jpg"
                class="carousel_image"
                alt=""
              />

              <div class="container">
                <div class="carousel-caption text-light dark3">
                  <h1 class="title">THOMSON HEAVY DUTY</h1>
                  <p class="carousel-text content">Monotube shock absorbers with
                    the best technology, which gives it great strength and
                    resistance</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="/css/assets/carousel_3.jpg"
                class="carousel_image"
                alt=""
              />

              <div class="container">
                <div class="carousel-caption text-end text-light dark3 w-75">
                  <h1 class="title">THOMSON TRUCK-PLUS</h1>
                  <p class="carousel-text content">Designed for trucks that do
                    not have a flat road as their destination, for all those
                    that leave conventional roads and enter more complicated
                    roads where only a truck could be</p>
                </div>
              </div>
            </div>
          </div>
          <p style="color: transparent;">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Voluptatibus cumque deleniti nihil aspernatur, rem
            magnam blanditiis? Iste temporibus molestias fugiat nobis? Pariatur
            enim maxime reprehenderit cum sit voluptatem doloremque nobis. Lorem
            ipsum dolor, sit amet consectetur adipisicing elit. Illum, ducimus
            hic sequi sed nulla quidem doloribus consequatur dolores deserunt
            iusto. Eveniet animi omnis eum maxime esse dolor aperiam qui cumque.</p>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/sidebars.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="/js/bootstrap.js"></script>
    
  </body>

</html>