<html id="HTML" lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thomson</title>
    <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
    <script src="/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/thomson.css" />
  </head>
  <body class="bg-dark2">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center mt-5">
            <img src="/css/assets/logo.png" alt="THOMSON" width="350px">
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center mt-5">
            <div class="card">
              <div class="card-header">PAGO PROCESADO CORRECTAMENTE</div>
              <div class="card-body">
                El pago fue procesado correctamente. En las proximas horas
                nuestro equipo registrará el pago en tu cuenta y descontará el
                mismo de tu saldo pendiente.
                Gracias por confiar en <strong class="text-warning">Thomson</strong>
              </div>
            </div>
            <a href="/estado-cuenta" class="btn btn-warning"><strong>Volver</strong> </a>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </body>
</html>