<!DOCTYPE html>
<html id="HTML" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thomson - About us</title>
    <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
    <link rel="stylesheet" href="/css/bootstrap2.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/css/thomson.css">
</head>

<body>
    <header id="header">

    </header>
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="mt-3 col-sm-12 text-center">
                </div>
                <div class="col-sm-6 mt-5">
                    <figure class="figure">
                        <img src="/css/assets/2.jpg" class="figure-img img-fluid rounded"
                            alt="Raffaele Ambrosino Coppola" width="500px" height="100%">
                            <figcaption class="figure-caption pl-4">Raffaele Ambrosino Coppola <br> Founder and honorary
                            president
                            <br> 04/08/1923 - 01/21/2004
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-6 mt-5">
                    <p class="lead">
                      In the 1980s, <strong> Mr. Raffaele Ambrosino Coppola </strong> gave his children a contribution to the
                        creation of a family business called Grupo Mecánico del Centro, C.A. This company is
                        was in charge of distributing throughout Venezuela the best brands nationwide, such as:
                        Chassis, Republic and Sky spare parts.
                        <br> <br>
                        It should be noted that, due to the <strong> great scope of the company </strong>, they managed to obtain distributions of
                        recognized companies worldwide, such as: Danaven, Federal Mogul, Monroe and Covendisa.
                        <br> <br>

                        Since then, thanks to the influence of Mr. Ambrosino Coppola, many members of the
                        family have worked in the auto parts industry <strong> also distributing recognized brands
                        and developing own brands. </strong>
                        <br> <br>

                        Years later, in December 2006 <strong> Miguel Ambrosino Liguori (son) </strong> founded Remco de Venezuela
                        C.A, a company with which he created and distributed prestigious brands such as <strong> Remco and Wilson </strong>.
                        <br> <br>

                        In March 2020 <strong> Miguel Ambrosino Liguori (son) and grandchildren </strong>, despite the complex situation
                        through which they were going through worldwide, as a result of the pandemic, they decide to undertake a new
                        project with the creation of a brand specialized in shock absorbers and shock absorber bases.
                        <br> <br>

                        Thus creating <span class = "text-warning"> <strong> Thomson </strong> </span>, a brand that offers high-class products since they are manufactured
                        under strict safety and quality standards. Aimed at the Venezuelan and Latin American markets.

                    </p>
                </div>
                <div class="col-sm-12 text-center mt-5 mb-4">
                    <figure class="figure">
                        <img src="/css/assets/galpon.jpg" class="figure-img img-fluid rounded"
                            alt="Grupo Mecánico del Centro, C.A." width="70%">
                        <figcaption class="figure-caption">
                            1982 - 2002 Grupo Mécanico del Centro, C.A.
                        </figcaption>
                    </figure>
                </div>

                <div class="col-sm-6 mt-3">
                    <h3 class="bg-warning text-dark text-center">Mission</h3>
                    <p class="lead">Our mission is to cover most of the shock absorber, shock absorber base and dust
                        cover market, nationally and internationally. Being one of the brands with the highest quality
                        and guarantees on the market, offering all our customers safe, durable and high quality
                        products.</p>
                </div>
                <div class="col-sm-6 mt-3">
                    <img src="/css/assets/mision.jpg" class="img-fluid rounded" width="500px" alt="">
                </div>
                <div class="col-sm-6 mt-3">
                    <h3 class="bg-warning text-dark text-center">Vision</h3>
                    <p class="lead">Our vision is to be a brand recognized for offering excellent quality products,
                        incorporating new products and having the most complete inventory for all vehicle brands in
                        Latin America.</p>
                </div>
                <div class="col-sm-6 mt-3">
                    <img src="/css/assets/vision.jpg" class="img-fluid rounded" width="500px" alt="">
                </div>

            </div>
        </div>

    </main>

    <hr class="featurette-divider">

    <footer class="container ">
        <p class="float-end"><a href="#" class="back_top"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                    fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
                </svg></a></p>
        <p>&copy; THOMSON SHOCK ABSORBER</p>
    </footer>
    </main>
    <script src="/js/aboutus.js"></script>
</body>

</html>