<!DOCTYPE html>
<html id="HTML" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thomson - Contacts</title>
    <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
    <link rel="stylesheet" href="/css/bootstrap2.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/css/thomson.css">
</head>
<body>
    <header id="header">
    </header>
    <main id="main" >
          <div class="">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-0 text-center bg-light contacts">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                </div>
            </div>
        </div>
        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-sm-1 col-md-4 col-lg-4 col-xl-4 mt-5">
                    <h4>Emails:</h4>
                    <span class="lead">thomson.autoparts@gmail.com</span> <br>
                </div>
                <div class="col-sm-1 col-md-4 col-lg-4 col-xl-4 mt-5 col-">
                    <h4>Telephone numbers</h4>
                    <span class="lead">Management: +1 786-271-36-35</span><br>
                    <span class="lead">Management: +58 424-494-7953</span><br>
                </div>
                <div class="col-sm-1 col-md-4 col-lg-4 col-xl-4 mt-5">
                    <h4>Social medias:</h4>
                     <a class="text-decoration-none text-light" href="https://www.instagram.com/thomson_parts.ve/" target="_blank" rel="noopener noreferrer"><img src="/css/assets/instagram_logo.png" width="40px" height="40px"> Instagram</a><br>
                    <a class="text-decoration-none text-light" href="https://www.facebook.com/thomson.autoparts/" target="_blank" rel="noopener noreferrer"><img src="/css/assets/facebook_logo.png" alt="Facebook" width="40px" height="40px"> Facebook</a><br>
                    <a class="text-decoration-none text-light" href="https://api.whatsapp.com/send?phone=584244947931" target="_blank" rel="noopener noreferrer"><img src="/css/assets/whatsapp_logo.png" alt="Whatsapp" width="40px" height="40px"> Whatsapp</a>
                </div>
            </div>
        </div>
       
    </main> <br><br><br>

    <hr class="featurette-divider">

    <footer class="container">
        <p>&copy; THOMSON SHOCK ABSORBER</p>
      </footer>
    
      <script src="/js/contacts.js"></script>
    
</body>
</html>