<!DOCTYPE html>
<html id="HTML" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
  <link rel="stylesheet" href="/css/bootstrap2.css">
  <script src="/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/css/thomson.css">
  <title>Thomson - The best in shocks absorber</title>
</head>

<body>


  <!--Nav-->
  <header id="header">

  </header>

  <!--Carousel-->
  <main id="main">

    <div id="myCarousel" class="carousel" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/css/assets/distributors.jpg" class="carousel_image zoom-efect" alt="">
          <div class="container">
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 mb-5">

      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-light">USA</h2>
        </div>
        <div class="col-sm-12">
          <p class="text-light">AL'S & ASSOCIATES INVESTMENTS, LLC </p>
        </div>
      </div>
      <div class="col-sm-12 mt-3">
        <h2 class="text-light">VENEZUELA</h2>
      </div>
      <div class="col-sm-12">
        <p class="text-light">AUTOREPUESTOS 722 IMPORT, C.A.</p>
        <img src="/css/assets/722.png" width="350px" height="350px" class="img-fluid rounded">
        <p class="text-light lead mt-2"><strong>Rif</strong>: J-40829313-7 <br>
        <strong>Phone</strong>: 0241-832-11-89 / 0414-415-29-99<br> 0414-430-7689/ 0414-270-75-81
        <br> <strong>Email</strong>: autorepuestos722@gmail.com
        </p>
      </div>
      <div class="col-sm-12 mt-2">
        <p class="text-light">RESPUESTOS KOREA PARTS C.A.</p>
        <img src="/css/assets/koreaparts.png" width="350px" height="350px" class="img-fluid rounded">
        <p class="text-light lead mt-2"><strong>Rif</strong>: J-40650254-5 <br>
        <strong>Phone</strong>: 0241-8315504 <br>
        <strong>Address: </strong>Calle Andrés Bello entre Michelena y Rangel, <br> CC Tribo L5, Valencia, edo. Carabobo 
        <br> <strong>Email</strong> : RepuestosKoreaparts@hotmail.com
        </p>
      </div>
      <div class="col-sm-12 mt-2">
        <p class="text-light">MASTERSHOCK</p>
        <img src="/css/assets/mastershock.png" width="350px" height="350px" class="img-fluid rounded">
        <p class="text-light lead"><strong>Phone</strong>: 0241-8354740 <br>
          <strong>Address</strong>: Calle Michelena local núm 110-79, Valencia,<br>  edo. Carabobo. <br>
          <strong>Email</strong>: mastershock.ventas@gmail.com
         </p>
      </div>
    </div>
  </main>
  <!-- FOOTER -->
  <hr class="featurette-divider">
  <footer class="container">
    <p class="float-end"></p><br>
    <p class="text-light">&copy; THOMSON SHOCK ABSORBER</p>
    
  </footer>


  <script src="/js/dealers.js"></script>
</body>

</html>