<!DOCTYPE html>
<html id="HTML" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
  <link rel="stylesheet" href="/css/bootstrap2.css">
  <script src="/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/css/thomson.css">
  <title>Thomson - The best in shocks absorber</title>
</head>

<body>
  <!--Nav-->
  <header id="header">
  </header>
  <!--Carousel-->
  <main id="main">
    <div id="myCarousel" class="carousel" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/css/assets/warranty.png" class="carousel_image" alt="">
          <div class="container">
            <div class="carousel-caption text-start text-light">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="text-light bg-warning text-dark">Our warranty</h2>
            <p class="text-light">To be eligible for the warranty, it must be within the first 3 months from the time of
              purchase and not present any type of damage.
              <strong> Not covered by warranty:</strong>
            </p>
        </div>
        <!--Garantia-->
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/assets/gallery/leaks.png" alt="Card image cap">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">Leaks</h5>
              <p class="card-text text-light lead">If the shock absorber leaks from a perforation in the tube, caused by
                improper installation, abuse or accident</p>
            </div>
          </div>

        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/assets/gallery/detachments.png" alt="Card image cap">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">Detachments</h5>
              <p class="card-text text-light lead">
                If the shock absorber shows top or bottom terminal detachments.</p>
            </div>
          </div>


        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/assets/gallery/bumps.png" alt="Card image cap">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">Bumps</h5>
              <p class="card-text text-light lead">If the shock absorber presents bumps or scratches caused by an
                accident, a bad installation or application of the same.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/assets/gallery/bolt.png" alt="Card image cap">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">Bent bolts</h5>
              <p class="card-text text-light lead">
                If the shock absorber bolt is bent or broken, caused most of the time by a compression of the vehicle on
                it.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/assets/gallery/bolt2.png" alt="Card image cap">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">Broken bolts</h5>
              <p class="card-text text-light lead">
                If the shock absorber has broken lower or upper bolts, caused most of the by poor installation of the
                same.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/assets/gallery/horns.png" alt="Card image cap">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">Deformed horns</h5>
              <p class="card-text text-light lead">
                If the damper has deformed horns, caused most of the time by poor installation.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/assets/gallery/loosepiston.png" alt="Card image cap">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">Loose pistons and shafts</h5>
              <p class="card-text text-light lead">
                If the shock absorber has loose axles and / or pistons, caused most of the time by improper installation
                of the same.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/assets/gallery/stripedaxles.png" alt="Card image cap">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">Striped axles</h5>
              <p class="card-text text-light lead">If the shock absorber has scratched axes, caused by the misuse of
                tools at the time of installation.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/assets/gallery/barpin.png" alt="Card image cap">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">Broken barpin</h5>
              <p class="card-text text-light lead">
                If the shock absorber has broken tie or barpin terminals, caused most of the time by poor installation.
              </p>
            </div>
          </div>
        </div>
        <hr>
        <!--Recomendaciones-->
        <!--Signos de alerta-->
        <div class="col-sm-12 text-center mt-2">
          <h2 class="h1 text-light bg-warning text-dark">Thomson recommendations</h2>
          <h3 class="h2 text-danger text-start">Warning signs</h3>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img src="/css/assets/gallery/frenos.png" class="rounded" alt="" srcset="">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">Braking distance</h5>
              <p class="text-light lead">Worn or poor quality shock absorbers cause the tires to bounce causing the
                vehicle to be unable to stop efficiently when applying the brakes.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img src="/css/assets/gallery/desbalance.png" class="rounded" alt="" srcset="">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">Stability</h5>
              <p class="text-light lead">Worn, old, inexpensive shock absorbers do not provide enough cushioning to keep
                the vehicle in balance.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img src="/css/assets/gallery/perdidacontrol.png" class="rounded" alt="" srcset="">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">Lost of control</h5>
              <p class="text-light lead">
                Cheap, old, used shock absorbers may not have the right answer when it comes to driving the vehicle.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img src="/css/assets/gallery/desgaste.png" alt="" class="rounded" srcset="">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">
                Tire wear</h5>
              <p class="text-light lead">Worn or poor quality shock absorbers cause excessive wear of the tires, reducing
                their useful life considerably</p>

            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img src="/css/assets/gallery/fugaaceite.png" class="rounded" alt="" srcset="">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">Oil leak</h5>
              <p class="text-light lead">
                The loss of oil in the shock absorber, blows or signs of failure, is a clear sign that the shock
                absorbers should be replaced.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img src="/css/assets/gallery/km.png" alt="" class="rounded" srcset="">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">
                Shock absorbers check</h5>
              <p class="text-light lead">
                The shock absorbers must be checked every 20,000 kilometers, to ensure their condition.
              </p>
            </div>
          </div>
        </div>
    <hr>
        <!--Instalacion-->
        <div class="col-sm-12 text-center mt-5">
          <h3 class="h2 text-light text-start">Installation</h3>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img src="/css/assets/gallery/purgar.png" alt="" class="rounded" srcset="">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">
                Purge the shock absorber</h5>
              <p class="text-light lead">
                To properly change the shock absorbers, you must bleed the air from the new shock absorbers before
                mounting them.</p>

            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img src="/css/assets/gallery/parts.png" class="rounded" alt="" srcset="">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">
                Check mounting parts</h5>
              <p class="text-light lead">
                Before installation you should check the mounting parts such as the strut mount, boots, bolts, among
                others.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card" style="width: 18rem;">
            <img src="/css/assets/gallery/suspension.png" alt="" class="rounded" srcset="">
            <div class="card-body bg-dark">
              <h5 class="card-title text-dark text-center bg-warning">
                Suspension status</h5>
              <p class="text-light lead">
                Check the suspension parts and replace the deteriorated parts to get the best performance from your
                shock.
              </p>
            </div>
          </div>

        </div>
      </div>

  </main>
  <!-- FOOTER -->
  <hr class="featurette-divider">
  <footer class="container">
    <p class="float-end"><a href="#" class="back_top"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
          fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
        </svg></a></p><br>
    <p class="text-light">&copy; THOMSON SHOCK ABSORBER</p>
  </footer>


  <script src="/js/guarantees.js"></script>
</body>

</html>