<!DOCTYPE html>
<html id="HTML" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
  <link rel="stylesheet" href="/css/bootstrap2.css">
  <script src="/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/css/thomson.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
  <title>Thomson - The best in shocks absorber</title>
</head>

<body>


  <!--Nav-->
  <header id="header">

  </header>

  <!--Carousel-->
  <main id="main">
    <div class="container mt-4">
      <div class="row">
        
        <dov class="col-sm-12">
          <h1 class="text-center bg-warning text-dark">Marketing</h1>

        </dov>
        <div class="col-sm-12 mt-4">
          <div class="card bg-transparent">
            <p class="mt-2 lead">
              At Thomson we are committed to bringing all our customers the best products related to the brand, from
              wall clocks, mugs, caps and many more products that you can see in our gallery.
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6 col-md-6 mb-3 d-flex justify-content-around">
            <a href="/css/assets/gallery/valla_1.jpeg" data-lightbox="photos">
              <img src="/css/assets/gallery/valla_1.jpeg" alt="" class="img-fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-6 mb-3 ml-5 d-flex justify-content-around">
            <a href="/css/assets/gallery/valla_2.jpeg" data-lightbox="photos">
              <img src="/css/assets/gallery/valla_2.jpeg" alt="" class="img-fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="/css/assets/gallery/uniforme.jpg" data-lightbox="photos">
              <img src="/css/assets/gallery/uniforme.jpg" alt="" class="img-fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="/css/assets/gallery/pop_6.png" data-lightbox="photos">
              <img src="/css/assets/gallery/pop_6.png" alt="" class="img-fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="/css/assets/gallery/pop_44.png" data-lightbox="photos">
               <img src="/css/assets/gallery/pop_44.png" alt="" class="img-fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-6 mb-3 d-flex justify-content-around">
            <a href="/css/assets/gallery/pop_1.jpg" data-lightbox="photos">
              <img src="/css/assets/gallery/pop_1.jpg" alt="" class="img-fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-6 mb-3 ml-5 d-flex justify-content-around">
            <a href="/css/assets/gallery/pop_11.png" data-lightbox="photos">
              <img src="/css/assets/gallery/pop_11.png" alt="" class="img-fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="/css/assets/gallery/pop_22.png" data-lightbox="photos">
              <img src="/css/assets/gallery/pop_22.png" alt="" class="img-fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="/css/assets/gallery/pop_33.png" data-lightbox="photos">
             <img src="/css/assets/gallery/pop_33.png" alt="" class="img-fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="/css/assets/gallery/pop_7.jpg" data-lightbox="photos">
              <img src="/css/assets/gallery/pop_7.jpg" alt="" class="img-fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="/css/assets/gallery/pop_55.png" data-lightbox="photos">
              <img src="/css/assets/gallery/pop_55.png" alt="" class="img-fluid img-thumbnail">
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
  <!-- FOOTER -->
  <hr class="featurette-divider">
  <footer class="container">
    <p class="float-end"><a href="#" class="back_top"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
          fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
        </svg></a></p><br>
    <p class="text-light">&copy; THOMSON SHOCK ABSORBER</p>
  </footer>


  <script src="/js/material.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>