<!DOCTYPE html>
<html id="HTML" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thomson - Original thomson</title>
  <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
  <link rel="stylesheet" href="/css/bootstrap2.css">
  <link rel="stylesheet" href="/css/thomson.css">
  <script src="/js/bootstrap.bundle.js"></script>
</head>

<body>


  <!--Nav-->
  <header id="header">

  </header>
  <main id="main">

    <div id="myCarousel" class="carousel" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/css/assets/carousel_1.jpg" class="carousel_image zoom-efect" alt="">
          <div class="container">
            <div class="carousel-caption text-start text-light">
              <h1 id="title">ORIGINAL THOMSON</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Content-->

    <div class="container mt-4">
      <h2 class="text-center">Product description</h2>

      <!-- Three columns of text below the carousel -->

      <div class="container mt-4">
        <div class="row">
          <div class="col-lg-4 px-2">
            <img src="/css/assets/guia.png" alt="" class="mx-auto d-block mt-4 mb-4">
            <h2 class="text-center bg-warning text-dark mt-1">Stability</h2>
            <p class="text-start lead">The original thomsons achieve the stability that was achieved when making the vehicle,
              with the best internal damping valves that help restore handling. This is very important to achieve the
              perfect function of the other parts of the car.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 px-2">
            <img src="/css/assets/guia_2.png" alt="" class="mx-auto d-block mt-4 mb-4">
            <h2 class="text-center bg-warning text-dark mt-1">Electronic parts</h2>
            <p class="lead">Worn, old or inexpensive shock absorbers do not have the damping necessary for electronic safety,
              stability and automatic braking systems to function properly. Original thomson ensures the best damping to
              achieve the perfect operation of all electronic and mechanical parts. </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 px-2">
            <img src="/css/assets/guia_3.png" alt="" class="mx-auto d-block mt-4 mb-4">
            <h2 class="text-center bg-warning text-dark mt-1">Tire control</h2>
            <p class="lead">Original thomsons ensure the best performance that shock absorbers can achieve. Shock absorbers, old,
              worn or cheap, do not have the necessary capacity to control the tire and its performance, generating a
              lot of movement of the same and reducing its useful life</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>

      <div class="container mt-4">
        <div class="row">
          <div class="col-lg-4 px-2">
            <img src="/css/assets/guia_4.png" alt="" class="mx-auto d-block mt-4 mb-4">
            <h2 class="text-center bg-warning text-dark mt-1">Perfect balance</h2>
            <p class="lead"> Worn, old, inexpensive shocks don't provide enough cushioning to keep the vehicle
              in balance. The original Thomson shock absorbers ensure the perfect balance of the vehicle by having one
              of the best shock absorbers on the market.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 px-2">
            <img src="/css/assets/guia_5.png" alt="" class="mx-auto d-block mt-4 mb-4">
            <h2 class="text-center bg-warning text-dark mt-1">Correct alienation</h2>
            <p class="lead">The forces of the original Thomson are critical to maintaining proper tire alignment. The shock absorbers
              have excellent resistance and support, which ensures a perfect tire alignment. </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 px-2">
            <img src="/css/assets/guia_6.png" alt="" class="mx-auto d-block mt-4 mb-4">
            <h2 class="text-center bg-warning text-dark mt-1">OE replacement</h2>
            <p class="lead">Our brand has multiple certificates including "OE Supplier", which guarantees that all our products are
              original and are perfect to replace the one contained in the factory car.</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>

      <section id="image-product">
        <div class="d-flex flex-row mt-5">
          <p class="text-left mr-4 lh-base lead">
            The original Thomsons will be in charge of giving their best as far as shock absorbers are concerned,
            allowing them to have total control of the vehicle, as well as allowing the correct operation of the other
            parts of it, since the shock absorbers, old, cheap or worn Put at risk the useful life of other parts of the
            vehicle, such as the tires, by not having a good shock absorber to support the weight of the vehicle,
            generating a lot of movement or not keeping the tires aligned, it will cause them to wear out very quickly ,
            decreasing their useful life considerably. As well as the tires, there are many electronic and mechanical
            parts of the vehicle that depend on the correct functioning of the shock absorbers, if a good shock absorber
            we put the useful life of the other parts at risk; With the original Thomson these problems will be left
            aside since they ensure perfect operation, they have enough strength to maintain the weight of the vehicle
            in any situation, as well as to keep the wheels in perfect alignment and achieve the perfect stability of
            the car. <br><br>
            Original Thomson has multiple certificates, quality certificate, shock absorber continuous improvement
            certificates, as well as the “OE Supplier” certificate, which establishes that the product has sufficient
            quality and credibility to be a <strong> replacement for the original parts that come in the factory
              vehicle. </strong> <br><br>
            Thanks to the daily effort we give to the improvement of shock absorbers, we can say that Thomson shock
            absorbers are some of the best on the market, giving the customers who obtain our products sufficient
            confidence, quality and durability.

          </p>
          <img src="/css/assets/originalthomson.png"  width="500px" height="500px" alt="">
        </div>

      </section>
    </div>

  </main>
  <hr class="featurette-divider">
  <footer class="container">
    <p class="float-end"><a href="#" class="back_top"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
          fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
        </svg></a></p>
    <p class="h4">&copy; THOMSON SHOCK ABSORBER</p>
  </footer>
  <script src="/js/original.js"></script>
</body>

</html>