<!DOCTYPE html>
<html id="HTML" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
  <link rel="stylesheet" href="/css/bootstrap2.css">
  <script src="/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/css/thomson.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
  <title>Thomson - The best in shocks absorber</title>
</head>

<body>


  <!--Nav-->
  <header id="header">

  </header>

  <!--Carousel-->
  <main id="main">
    <div id="myCarousel" class="carousel" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <video src="/css/assets/videos/thomson.mp4" class="carousel_image bg-transparent" width="100%" height="100%"
            controls autoplay loop></video>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row">
        <dov class="col-sm-12">
          <h1 class="text-center bg-warning text-dark">The production of Thomson</h1>
        </dov>
        <div class="col-sm-6 mt-5">
          <div class="card bg-transparent">
            <video src="/css/assets/videos/video_1.mp4" height="320px" muted controls></video>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="card bg-transparent">
            <h3 class="px-4 text-center text-light">Thomson products are made under the best technical specifications.
            </h3>
            <p class="mt-2 lead">Our workers have the necessary knowledge and skills to create one of the best shock
              absorbers on the market today. <br> <br>

              Contamos con la mejor maquinaria para la creacion de todos nuestros productos, donde se le aplican
              todos los conocimientos y caracteristicas de la tecnologia Japonesa.
            </p>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="card bg-transparent">
            <h3 class="text-light px-4 text-center">Capable of producing thousands of Thomson products.</h3>
            <p class="mt-2 lead">
              Our factories have sufficient personnel, raw materials and machinery to produce massive quantities of
              Thomson products.
            </p>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="card bg-transparent">
            <video src="/css/assets/videos/shocks.mp4" height="320px" controls></video>
          </div>
        </div>
        <div class="col-sm-4 mt-5">
          <div class="card bg-transparent">
            <video src="/css/assets/videos/boxes.mp4" height="320px" muted controls></video>
          </div>
        </div>
        <div class="col-sm-4 mt-4">
          <div class="card bg-transparent">
            <h3 class="px-4 text-center text-light">Quality.</h3>
            <p class="mt-2 lead"> All of our products have excellent quality. <br>
              From the main product to the boxes that contain it, they are of excellent quality; Our boxes are prepared
              to protect the product, as well as contain multiple details that make it one of the most attractive boxes
              in sight in the international auto parts market.
            </p>
          </div>
        </div>
        <div class="col-sm-4 mt-5">
          <div class="card bg-transparent">
            <video src="/css/assets/videos/quality2.mp4" height="320px" muted controls></video>
          </div>
        </div>
        <hr>
        <div class="col-sm-12">
          <h3 class="h1 text-center bg-warning text-dark">Gallery</h3>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="/css/assets/gallery/1.jpeg" data-lightbox="photos">
              <img src="/css/assets/gallery/1.jpeg" alt="" class="fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="/css/assets/gallery/2.jpeg" data-lightbox="photos">
              <img src="/css/assets/gallery/2.jpeg" alt="" class="fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="/css/assets/gallery/3.jpeg" data-lightbox="photos">
              <img src="/css/assets/gallery/3.jpeg" alt="" class="fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-6 mb-3 d-flex justify-content-around">
            <a href="/css/assets/gallery/14.jpg" data-lightbox="photos">
              <img src="/css/assets/gallery/14.jpg" alt="" class="fluid img-thumbnail" width="300px">
            </a>
          </div>
          <div class="col-sm-6 col-md-6 mb-3 ml-5 d-flex justify-content-around">
            <a href="/css/assets/gallery/15.jpeg" data-lightbox="photos">
              <img src="/css/assets/gallery/15.jpeg" alt="" class="fluid img-thumbnail" width="300px">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="/css/assets/gallery/10.jpeg" data-lightbox="photos">
              <img src="/css/assets/gallery/10.jpeg" alt="" class="fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="/css/assets/gallery/11.jpeg" data-lightbox="photos">
              <img src="/css/assets/gallery/11.jpeg" alt="" class="fluid img-thumbnail">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="/css/assets/gallery/12.jpeg" data-lightbox="photos">
              <img src="/css/assets/gallery/12.jpeg" alt="" class="fluid img-thumbnail">
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
  <!-- FOOTER -->
  <hr class="featurette-divider">
  <footer class="container">
    <p class="float-end"><a href="#" class="back_top"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
          fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
        </svg></a></p><br>
    <p class="text-light">&copy; THOMSON SHOCK ABSORBER</p>
  </footer>


  <script src="/js/production.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>