<!doctype html>
<html lang="en" class="html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/css/assets/logo_icon.png">
    <link rel="stylesheet" href="./css/thomson.css">
    <link rel="stylesheet" href="./css/sign-in.css">


    <title>Register -Thomson</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
    <link rel="stylesheet" href=".//css/bootstrap2.css">

  </head>

  <body class="text-center body-sign-in">
    <div class="form-sigin">

        <form class="form-signin">
            <img class="mb-4" src="/css/assets/logo.png" alt="" width="300" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please complete the datos</h1>

            <label for="name-register" class="sr-only h5">Name</label>
            <input type="email" id="name-register" class="form-control" placeholder="Name" required autofocus>
            <label for="lastname-register" class="sr-only h5">Last name</label>
            <input type="email" id="lastname-register" class="form-control" placeholder="Last name" required autofocus>
            <label for="inputEmailRegister" class="sr-only h5">Email</label>
            <input type="email" id="inputEmailRegister" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmailRegisterConfirm" class="sr-only h5">Confirm email</label>
            <input type="email" id="inputEmailRegisterConfirm" class="form-control" placeholder="Confirm email address" required>
            <label for="inputPasswordRegister" class="sr-only h5">Password</label>
            <input type="password" id="inputPasswordRegister" class="form-control" placeholder="Password" required>
            <label for="inputPasswordRegisterConfirm" class="sr-only h5">Confirm password</label>
            <input type="password" id="inputPasswordRegisterConfirm" class="form-control" placeholder="Confrim password" required>
            <div class="checkbox mb-3">
            </div>
                
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                
                
                <button class="btn btn-secondary btn-block" type="submit">Create account</button> <br>
            </form>
            <a href="sign_in.html">
                <button class="btn btn-secondary btn-block" type="submit">Back to sign in</button> <br><br>
            </a>
            <a href="thomson.html" class="back_top">Back to home</a>
        </div>
    </div>
    </body>
    </html>