<!DOCTYPE html>
<html id="HTML" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thomson - Strut mount and boot</title>
  <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
  <link rel="stylesheet" href="/css/bootstrap2.css">
  <link rel="stylesheet" href="/css/thomson.css">
  <script src="/js/bootstrap.bundle.js"></script>
</head>

<body>


  <!--Nav-->
  <header id="header">

  </header>
  <main id="main">

    <div id="myCarousel" class="carousel" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/css/assets/strut_and_boot.jpg" class="carousel_image zoom-efect" alt="">
          <div class="container">
            <div class="carousel-caption text-start text-light">
              <h1 id="title">Strut mount and boots</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4">

      <section id="image-product">
        <div class="row">
          <div class="col-md">
            <h1 class="text-light text-center bg-warning text-dark">Product Description.</h1>
          </div>
        </div>
        <div class="d-flex flex-row mt-5">
          <div class="row">
            <div class="col-md-6">
              <p class="lead">
              Reduces suspension, road noise and vibrations.
              Mounting bases provide smoother steering and help maintain front end alignment built to a design and
              quality that equals or exceeds OE quality.
              <br><br>


              Our boots keep leak-causing contaminants away from polished strut shafts, and are built to a design and
              quality to match or exceed original equipment. It has a bumper that limits travel to prevent the strut
              from bottoming out.
              <br><br>

              </p>

            </div>
            <div class="col-md-6">

              <img src="/css/assets/strutmountandboot.png" width="450px" height="500px" alt="">
            </div>
          </div>
        </div>

      </section>
    </div>

  </main>
  <hr class="featurette-divider">
  <footer class="container">
    <p class="float-end"><a href="#" class="back_top">Back to top</a></p>
    <p class="h4">&copy; THOMSON SHOCK ABSORBER</p>
  </footer>
  <script src="/js/strut-mount.js"></script>
</body>

</html>