<!DOCTYPE html>
<html id="HTML" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thomson - Thomson heavy duty</title>
    <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
    <link rel="stylesheet" href="/css/bootstrap2.css">
    <link rel="stylesheet" href="/css/thomson.css">
    <script src="/js/bootstrap.bundle.js"></script>

</head>
<body>


    <!--Nav-->
    <header id="header">
      
    </header>
    <main id="main" >

        <div id="myCarousel" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/css/assets/carousel_4.jpg" class="carousel_image zoom-efect" alt="">
                <div class="container">
                    <div class="carousel-caption text-start text-light">
                        <h1 id="title">THOMSON HEAVY DUTY</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!--Content-->

     <div class="container mt-4">
        <h2 class="text-center">Product description</h2>

        <!-- Three columns of text below the carousel -->
        <div class="container mt-4">
          <div class="row">
          <div class="col-lg-4 px-2">
            <img class="rounded mx-auto d-block" src="/css/assets/guia.png" alt="">
            <h2 class="text-center bg-warning text-dark mt-1">Stability</h2>
            <p class="lead">The heavy duty shocks achieve the stability that was achieved when making the vehicle, with the best internal damping valves that help restore handling. This is very important to achieve the perfect function of the other parts of the car.</p>
          </div><!-- /.col-lg-4 px-4 -->
          <div class="col-lg-4 px-2">
            <img class="rounded mx-auto d-block" src="/css/assets/guia_8.png" alt="">        
            <h2 class="text-center bg-warning text-dark mt-1">Best features</h2>
            <p class="lead">Heavy duty shocks get better damping statistics than conventional designs. It provides the best handling and control capabilities to your vehicle, making it one of the most reliable on the market.</p>
          </div><!-- /.col-lg-4 px-4 -->
          <div class="col-lg-4 px-2">
            <img class="rounded mx-auto d-block" src="/css/assets/guia_7.png" alt="">        
            <h2 class="text-center bg-warning text-dark mt-1">Direction</h2>
            <p class="lead">
              Inexpensive, old, used shock absorbers may not have the right answer when it comes to driving the vehicle. Heavy-duty shocks claim to be the best shocks of their kind, with the best steering responses for better control</p>
          </div><!-- /.col-lg-4 px-4 -->
        </div>
        </div><!-- /.row -->

        <div class="container mt-4">
          <div class="row">
            <div class="col-lg-4 px-2">
              <img class="rounded mx-auto d-block" src="/css/assets/guia_9.png" alt="">
              <h2 class="text-center bg-warning text-dark mt-1">All in one</h2>
              <p class="lead">Heavy-duty shocks are designed to have everything in one tube, separating gas from oil for better performance and a higher level of response.</p>
            </div><!-- /.col-lg-4 px-4 -->
            <div class="col-lg-4 px-2">
              <img class="rounded mx-auto d-block" src="/css/assets/guia_10.png" alt="">        
              <h2 class="text-center bg-warning text-dark mt-1">For the big ones</h2>
              <p class="lead">Heavy-duty shocks are designed for vehicles with large tires, providing additional cushioning capacity at every corner; making this one of the best shock absorbers on the market for the heaviest. </p>
            </div><!-- /.col-lg-4 px-4 -->
            <div class="col-lg-4 px-2">
              <img class="rounded mx-auto d-block" src="/css/assets/guia_6.png" alt="">        
              <h2 class="text-center bg-warning text-dark mt-1">OE replacement</h2>
              <p class="lead">Our brand has multiple certificates including "OE Supplier", which guarantees that all our products are original and are perfect to replace the one contained in the factory car.</p>
            </div><!-- /.col-lg-4 px-4 -->
          </div>
          </div><!-- /.row --> 

          <section id="image-product">
            <div class="d-flex flex-row mt-5">
                <p class="text-left mr-4 lh-base lead">
                  The heavy duty shocks are designed in a single tube, having additional performance advantages over the traditional two tube design, making it have a greater control of the directions, a perfect alignment and <strong> supporting in each corner up to 20% more than what that can withstand other shock absorbers of its kind</strong>. They work perfectly to be the replacement of vehicles that had conventional two-tube or one-tube shock absorbers from the factory. <br><br>

                  Heavy duty shock absorbers are high pressure gas that includes only a cylinder divided into two chambers, one filled with pressurized nitrogen gas and the other above it, with hydraulic fluid, separating the gas and oil a floating piston that prevents produce aeration or cavitation, it also has a piston valve assembly that is connected to the stem that is in the fluid part of the tube.<br><br>

                  All these technologies make this type of shock absorber one of the best of its kind since it is designed to avoid the problems and failures that conventional shock absorbers usually have.
                </p>
                <img src="/css/assets/thomsonheavyduty.png" width="500px" height="500px" alt="">
            </div>
        </section>
    </div>
</main>
<hr class="featurette-divider">
<footer class="container">
    <p class="float-end"><a href="#" class="back_top">Back to top</a></p>
    <p class="h4">&copy; THOMSON SHOCK ABSORBER</p>
</footer>
<script src="/js/heavy-duty.js"></script>
</body>
</html>