<!DOCTYPE html>
<html id="HTML" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thomson - Truck plus</title>
  <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
  <link rel="stylesheet" href="/css/bootstrap2.css">
  <link rel="stylesheet" href="/css/thomson.css">
  <script src="/js/bootstrap.bundle.js"></script>
</head>

<body>


  <!--Nav-->
  <header id="header">
  </header>
  <main id="main">

    <div id="myCarousel" class="carousel" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/css/assets/carousel_3.jpg" class="carousel_image zoom-efect" alt="">
          <div class="container">
            <div class="carousel-caption text-start text-light">
              <h1 id="title">THOMSON TRUCK PLUS</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Content-->

    <div class="container mt-4">
      <h2 class="text-center">Product description</h2>

      <!-- Three columns of text below the carousel -->
      <div class="container mt-4">
        <div class="row">
          <div class="col-lg-4 px-2">
            <img class="rounded mx-auto d-block" src="/css/assets/guia.png" alt="">
            <h2 class="text-center bg-warning text-dark mt-1">Stability</h2>
            <p class="lead">The Thomson truck plus shocks achieve the stability that was achieved when making the vehicle, with the
              best internal damping valves that help restore handling. This is very important to achieve the perfect
              function of the other parts of the car.</p>
          </div><!-- /.col-lg-4 px-4 -->
          <div class="col-lg-4 px-2">
            <img class="rounded mx-auto d-block" src="/css/assets/guia_11.png" alt="">
            <h2 class="text-center bg-warning text-dark mt-1">All in one</h2>
            <p class="lead" > The Thomson tuck plus shock is already assembled with the best spring, top mount, and best isolators for
              a faster mount.</p>
          </div><!-- /.col-lg-4 px-4 -->
          <div class="col-lg-4 px-2">
            <img class="rounded mx-auto d-block" src="/css/assets/guia_7.png" alt="">
            <h2 class="text-center bg-warning text-dark mt-1">Direction</h2>
            <p class="lead" >
              Inexpensive, old, used shock absorbers may not have the right answer when it comes to driving the vehicle.
              Truck-Plus shocks claim to be the best shocks of their kind, with the best steering responses for better
              control</p>
          </div><!-- /.col-lg-4 px-4 -->
        </div>
      </div><!-- /.row -->

      <div class="container mt-4">
        <div class="row">
          <div class="col-lg-4 px-2">
            <img class="rounded mx-auto d-block" src="/css/assets/guia_12.png" alt="">
            <h2 class="text-center bg-warning text-dark mt-1">Greater control</h2>
            <p class="lead">Thomson truck plus shocks provide quick response and additional damping, being a single stroke shock
              provides excellent handling and control capabilities.</p>
          </div><!-- /.col-lg-4 px-4 -->
          <div class="col-lg-4 px-2">
            <img class="rounded mx-auto d-block" src="/css/assets/guia_10.png" alt="">
            <h2 class="text-center bg-warning text-dark mt-1">For the big ones</h2>
            <p class="lead">Thomson truck plus shocks are designed for vehicles with large tires, providing additional cushioning
              capacity at every corner; making this one of the best shock absorbers on the market for the heaviest. </p>
          </div><!-- /.col-lg-4 px-4 -->
          <div class="col-lg-4 px-2">
            <img class="rounded mx-auto d-block" src="/css/assets/guia_6.png" alt="">
            <h2 class="text-center bg-warning text-dark mt-1">OE replacement</h2>
            <p class="lead">Our brand has multiple certificates including "OE Supplier", which guarantees that all our products are
              original and are perfect to replace the one contained in the factory car.</p>
          </div><!-- /.col-lg-4 px-4 -->
        </div>
      </div><!-- /.row -->

      <section id="image-product ">
        <div class="d-flex flex-row mt-5">
          <p class="text-left mr-4 lh-base lead">
            Thomson Truck-Plus shocks are designed to be strong and tough, supporting large amounts of weight in every
            corner of the car. This shock is perfect for trucks that need to tow or haul heavy loads, as those tasks
            require additional damping and control capabilities, the same capabilities as our Truck-plus shock.
            It is also designed for trucks that do not have a flat road as a destination, for all those who leave
            conventional roads and enter more complicated roads where only a truck could be. It is also designed for big
            tires and heavy loads. <br><br>

            The Truck-plus is designed with a complete, all-in-one assembly where it is already assembled with the best
            spring, top mount, and isolators needed for faster replacement. <br><br>
            Thomson shocks aborserber has multiple certificates, quality certificate, shock absorber continuous
            improvement certificates, as well as the “OE Supplier” certificate, which establishes that the product has
            sufficient quality and credibility to be a <strong> replacement for the original parts that come in the
              factory vehicle. </strong> <br><br>
          </p>
          <img src="/css/assets/thomsontruckplus.png" width="500px" height="500px" alt="">
        </div>
      </section>
    </div>
  </main>
  <hr class="featurette-divider">
  <footer class="container">
    <p class="float-end"><a href="#" class="back_top"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
          fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
        </svg></a></p>
    <p class="h4">&copy; THOMSON SHOCK ABSORBER</p>
  </footer>
  <script src="/js/truck-plus.js"></script>
</body>

</html>