<!DOCTYPE html>
<html id="HTML" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
  <link rel="stylesheet" href="/css/bootstrap2.css">
  <script src="/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/css/thomson.css">
  <title>Thomson - The best in shocks absorber</title>
</head>

<body>


  <!--Nav-->
  <header id="header">

  </header>

  <!--Carousel-->
  <main id="main">
    <div id="myCarousel" class="carousel" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/css/assets/carousel_1.jpg" class="carousel_image" alt="">
          <div class="container">
            <div class="carousel-caption text-start text-light dark3">
              <h1 class="title">ORIGINAL THOMSON</h1>
              <p class="carousel-text content">The original Thomsons will be in charge of giving their best as far as shock
                absorbers are concerned, allowing them to have total control of the vehicle</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/css/assets/carousel_2.jpg" class="carousel_image" alt="">

          <div class="container">
            <div class="carousel-caption text-light dark3">
              <h1 class="title">PRO-THOMSON</h1>
              <p class="carousel-text content">Pro-Thomson shocks are designed for heavy and tough work, for conditions that
                demand the most weight and heavy shocks. </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/css/assets/carousel_4.jpg" class="carousel_image" alt="">

          <div class="container">
            <div class="carousel-caption text-light dark3">
              <h1 class="title">THOMSON HEAVY DUTY</h1>
              <p class="carousel-text content">Monotube shock absorbers with the best technology, which gives it great strength
                and resistance</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/css/assets/carousel_3.jpg" class="carousel_image" alt="">

          <div class="container">
            <div class="carousel-caption text-end text-light dark3 w-75">
              <h1 class="title">THOMSON TRUCK-PLUS</h1>
              <p class="carousel-text content">Designed for trucks that do not have a flat road as their destination, for all
                those that leave conventional roads and enter more complicated roads where only a truck could be</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
    <!--Content-->
    <div class="container mt-4">
      <h1 class="text-center bg-warning text-dark">Our certificates of quality.</h1>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4 px-2">
          <img src="/css/assets/certicado_1.png" alt="" class="mx-auto d-block mt-4 mb-4">
          <h2 class="text-center">Certificate ISO 9001</h2>
          <p class="text-center ml-2 mr-2 lead ">ISO 9001 sets out the criteria for a quality management system. This
            standard
            is based on a number of quality management principles including a strong customer focus, the motivation and
            implication of top management, the process approach and continual improvement.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 px-2">
          <img src="/css/assets/certicado_2.png" alt="" class="mx-auto d-block mt-4 mb-4">
          <h2 class="text-center">Certificate OE SUPPLIER</h2>
          <p class="text-center ml-2 mr-2 lead">An OE Car Part refers to any car part fitted to a vehicle from
            production /
            factory. It stands for Original Equipment and refers to any part which was originally fitted to the vehicle.
            As previously stated, the OE part is the same as 'factory fitted part' or 'genuine part'. </p><br>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 px-2">
          <img src="/css/assets/certicado_3.png" alt="" class="mx-auto d-block mt-4 mb-4">
          <h2 class="text-center">Certificate TS 16949</h2>
          <p class="text-center ml-2 mr-2 lead">TS 16949 is an ISO technical specification aimed at the development of a
            quality management system that provides for continual improvement, emphasizing defect prevention and the
            reduction of variation and waste in the automotive industry supply chain and production.</p>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

    </div><!-- /.container -->
    <div class="container">
      <hr class="featurette-divider">
      <section class="flex-container">
        <article class="flex-item">
          <h3 class="text-center">High quality.</h3>
          <p class="lead text-left">Our brand has multiple certifications that make it one of the best on the market.
            The products are original parts, which replace the original factory parts of the cars.
          </p>
        </article>
        <article class="flex-item">
          <img src="/css/assets/example_2.jpg" alt="imagen" class="image-index mx-auto d-block mt-4 mb-4">
        </article>

      </section>
      <hr class="featurette-divider">
      <section class="flex-container flex-row-reverse">
        <article class="flex-item">
          <h3 class="text-center">Variety of shocks absorber.</h3>
          <p class="lead text-right">We have multiple varieties of shock absorbers, for all types of vehicles. Shock
            absorbers for the heaviest truck,
            with the Thomson truck-plus, even for more conventional cars with the original Thomson and many more.
          </p>
        </article>
        <article class="flex-item">
          <img src="/css/assets/example_3.jpg" alt="imagen" class="image-index mx-auto d-block mt-4 mb-4">
        </article>

      </section>
      <hr class="featurette-divider">

      <section class="flex-container">
        <article class="flex-item">
          <h3 class="text-center">Our strut mounts and boots.</h3>
          <p class="lead text-left">We have the bases and specific boots for each model of shock absorber and car, so
            you will not have to worry about that when choosing the best Thomson shock absorber.
          </p>
          <a href="catalogue.html" class="text-decoration-none"><button class="btn btn-secondary btn-center">GO
              CATALOGUE</button></a>
        </article>
        <article class="flex-item">
          <img src="/css/assets/example_4.jpg" alt="imagen" class="image-index mx-auto d-block mt-4 mb-4">
        </article>

      </section>


    </div>
  </main>
  <!-- FOOTER -->
  <hr class="featurette-divider">
  <footer class="container">
    <p class="float-end"><a href="#" class="back_top"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
          fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
        </svg></a></p><br>
    <p class="text-light">&copy; THOMSON SHOCK ABSORBER</p>
  </footer>

  <script src="/js/thomson.js"></script>
</body>

</html>