<!doctype html>
<html lang="en" class="html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/css/assets/logo_icon.png">
    <link rel="stylesheet" href="/css/thomson.css">


    <title>Register -Thomson</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <link rel="stylesheet" href="/css/bootstrap.css">

</head>

<body class="text-center bg-dark">
    <div class="container-fluid mt-5">
        <img class="mb-2" src=".//css/assets/logo.png" alt="" width="250" height="40"><br>
        <h1 class="text-light text-center">Solicitud procesada</h1>
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-sm">
                                        <h2 class="text-dark">La solicitud ha sido procesada correctamente.</h3>
                                        <p class="text-dark"> <strong class="text-dark">Los datos estan en
                                                revision.</strong>
                                            En las proximas horas un encargadorevisara <br>
                                            los datos enviados y procederá con el cambio de la contraseña y a su vez se pondra en contacto con usted para lograr nuevamente el acceso al sistema. <br> <strong
                                                class="text-dark">&copy;Thomson.</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="/" class="btn btn btn-outline-success"> Volver al inicio</a>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.js"></script>
</body>

</html>